@CHARSET "UTF-8";
article,
aside,
footer,
header,
main,
nav,


section {
    display: block;
    padding: 0;
    margin: 0;
}
.banner {
    background-color: black;
    color: white;
    text-align: center;
    
}
  
body {
    border-radius: 25px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    background-size: 10%;
}
nav li a {
    border-radius: 25px;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    margin: 10px;
}
nav {
    border-radius: 25px;
    padding: 5px;
    background-color: #E1DEDE;
    margin-top: 10px;
    float: left;
    width: 230px;
    font-family: Arial, sans-serif;
    font-size: 2px;
}
nav li {

    border-radius: 25px;
    margin-left: 15x;
    margin-right: 15px;
    font-size: 20px;
}
#imageAsen {
    margin: 15px 15px 5px 15px;
}
section {
    border-radius: 25px;
    background-color: #bbbbbb;
    margin-top: 10px;
    padding: 5px;
float : right;
}
article {
    border-radius: 25px;
	font-size: 15px;
    background-color: #e2dede;
    margin-top: 2px;
    padding: 1px 15px;
}
article header {
    background-color: #bdb8b8;
    margin: 7px 2px;
    
    text-align: center;
}
main {
    border-radius: 25px;
    float: right;
    width: 540px;
}
aside {

    border-radius: 25px;
    background-color: #bbbbbb;
    width: 220px;
    float: left;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
}
footer {
    text-align: center;
}
footer ul {
    list-style: none;
}
footer li {
    display: inline;
    margin-left: 5px;
    margin-right: 20px;
    font-size: 15px;
}
footer a {
    color: white;
}
footer {
    padding: 1px;
    background-color: black;
    color: white;
    clear: both;
}
.button {
  border-radius: 25px;
  font: bold 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: blue;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.cert_img {
position: left;
width: 70px;
    margin: 15px 15px 5px 15px;
}

.jobs_section1{
    width: 530px;
}

#h_Experience{
    text-align: center;
}

#id_projects{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
}